swiper-container {
  --swiper-navigation-color: white;
}

swiper-container::part(button-prev),
swiper-container::part(button-next) {
  background-color: #1A1A1A;
  border-radius: 70%;
  color: #D1D1D1;
  padding: 5px;
  width: 16px;
  height: 16px;
}
