<div class="w-[1007px] h-[512px] mx-auto font-(--font-primary) py-6 lg:-mt-[16px]">

  <!-- TITLE -->
  <h1 class="w-[1007px] h-[43px] text-[22px] font-[700] lg:-mt-0.5 text-[#E8E8E8] mb-[12px] flex items-center">
    Featured Bikes
  </h1>

  <!-- CATEGORY BUTTONS -->
  <div class="w-[1007px] h-[48px] ">
    <div class="flex gap-[20px] lg:-mt-[7px] h-full items-center">
      @for (category of categories; track category) {

      <button (click)="onCategorySelect(category)"
        class="h-[48px] w-[81px] cursor-pointer flex items-center justify-center">
        <span class="text-[13px] -ml-3 font-bold pb-[10px]" [ngClass]="
            selectedCategory === category
              ? 'text-[#91D9D3] border-b-4 border-[#91D9D3]'
              : 'text-[#D1D1D1]'
          ">
          {{ category | uppercase }}
        </span>
      </button>

      }
    </div>

    <!-- Divider -->
    <div class="w-full h-px bg-gray-700 -mt-2"></div>
  </div>


  <!-- SLIDER WRAPPER -->
  <div class="w-[1007px] h-[372px] -mt-[8px]">

    <app-slider [navigation]="navigation" [breakpoints]="breakpoints" containerClass="w-[1007px] h-full">

      @for (bike of filteredBikes; track bike.id) {
      <swiper-slide>
        <div class="flex justify-center items-center h-full">

          <!-- CARD -->
          <div class="w-[335px] h-[335px] bg-(--card-bg-color)
                     rounded-2xl p-[15px]
                     flex flex-col justify-between
                     border border-[#3F3F3F] cursor-pointer" [routerLink]="['/', bike.brand, bike.slug]">

            <!-- IMAGE -->
            <div class="w-full max-w-[320px] h-[180px] mx-auto flex items-center justify-center">
              <img [src]="bike.imageUrl" class="w-full lg:-mt-4  h-full object-contain scale-112" alt="{{ bike.title }} " />
            </div>

            <!-- CONTENT -->
            <div class="gap-[8px]">
              <h2 class="text-[16px] font-[400] text-[#E8E8E8]">
                {{ bike.title }}
              </h2>

              <p class="text-[16px] font-[700] text-[#E8E8E8] ">
                ₹ {{ bike.price }}
                <span class="text-[13px] font-[400] ml-2 text-[#D1D1D1]">Onwards</span>
              </p>

              <p class="text-[13px] font-[400] text-[#D1D1D1]">
                Avg. Ex-Showroom price
              </p>
            </div>

            <!-- CTA -->
            <button class="w-[167px] h-[32px] text-[13px] bg-[#1A1A1A] rounded-sm font-[700]
                       border border-[#5EEAD4] text-[#5EEAD4]">
              Check on-road price
            </button>

          </div>
        </div>
      </swiper-slide>
      }

    </app-slider>
  </div>
</div>